@model LUSSIS.Models.DTOs.DepartmentCollectionPointDTO
@{
    ViewBag.Title = "AssignCollectionPoint";
}

<section class="content-header">
    <h1>
        Collection Points
    </h1>
</section>

<section class="content">
    @using (Html.BeginForm("AssignCollectionPoint", "CollectionPoint", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <p>Current Collection Point - <b class="text-green">@Model.DepartmentCollectionPoint.NameTime</b></p>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Collection Point (Pickup Time)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="1">
                                        </label> @Model.CollectionPoint1.NameTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="2">
                                        </label> @Model.CollectionPoint2.NameTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="3">
                                        </label> @Model.CollectionPoint3.NameTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="4">
                                        </label> @Model.CollectionPoint4.NameTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="5">
                                        </label> @Model.CollectionPoint5.NameTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="radio" name="DepartmentCollectionPointId" class="minimal" value="6">
                                        </label> @Model.CollectionPoint6.NameTime
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Choose" class="btn btn-primary" style="margin-left: 100px;" />
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section scripts {
    <script>
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
    </script>
}