@model LUSSIS.Models.PurchaseOrder
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Purchase Order Detail
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table>
                        <tr>
                            <td>Purchase Order ID</td>
                            <td>: @Model.Id</td>
                            <td style="width: 400px;"></td>
                            <td>Supplier Name</td>
                            <td>: @Model.Supplier.Name</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>: @Model.OrderDateTime.ToString("dd/MM/yyyy")</td>
                            <td></td>
                            <td>Phone No</td>
                            <td>: @Model.Supplier.PhoneNo</td>
                        </tr>
                        <tr>
                            <td>Estimated Delivery Date</td>
                            @{ if (Model.EstDeliveryDate == null)
                                {
                                    <td>: </td>
                                }
                                else
                                {
                                    string estDate = ((DateTime)Model.EstDeliveryDate).ToString("dd/MM/yyyy");
                                    <td>: @estDate</td>
                                }
                             }
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>: <span class="text-blue">@Model.Status</span></td>
                        </tr>
                        <tr>
                            <td>Order By</td>
                            <td>: @Model.Employee.Name</td>
                        </tr>
                    </table>
                    <br /><br />
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Unit of Measure</th>
                                <th>Purchase Qty</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ decimal total = 0;
                                foreach (var pod in Model.PurchaseOrderDetails)
                                {
                                    decimal price = Model.Supplier == null ? 0 : pod.Stationery.SupplierTenders.FirstOrDefault(x => x.SupplierId == Model.SupplierId).Price;
                                    decimal amount = (decimal)pod.QuantityOrdered * price;
                                    total += amount;
                                    <tr>
                                        <td>@pod.Stationery.Code</td>
                                        <td>@pod.Stationery.Category.Type</td>
                                        <td>@pod.Stationery.Description</td>
                                        <td>@pod.Stationery.UnitOfMeasure</td>
                                        <td>@pod.QuantityOrdered</td>
                                        <td>@price</td>
                                        <td>@amount</td>
                                    </tr>
                                }
                             }
                                <tr>
                                    <td colspan="5"></td>
                                    <td> Total Amount : </td>
                                    <td>@total</td>
                                </tr>
                            </tbody>
                    </table>
                    <br />

                    <!-- If Supervisor -->
                    @*<form>
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                        </div>
                    </form>*@
                    <!-- If Supervisor -->

                </div>
                <!-- /.box-body -->

                <!-- If Supervisor -->
                @*<div class="box-footer">
                    <button class="btn btn-success pull-right" style="margin-left: 20px;">Approve</button>
                    <a class="btn btn-danger pull-right" href="product.html">Reject</a>
                </div>*@
                <!-- If Supervisor -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>