@model LUSSIS.Models.DTOs.ChartFilteringDTO
@{
    ViewBag.Title = "InventoryHistoricalData";
    string supp = "none";
    string dept = "block";
    string deptcheck = "checked";
    string suppcheck = "";
    if (ViewBag.chart == "supp")
    {
        supp = "block";
        dept = "none";
        deptcheck = "";
        suppcheck = "checked";
    }
}

<section class="content-header">
    <h1>
        Store Inventory Historial Data
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="radio" name="r1" class="minimal" id="dept" @deptcheck> Department
                                </label>
                                <label style="margin-left: 10px; margin-bottom: 10px;">
                                    <input type="radio" name="r1" class="minimal" id="supp" @suppcheck> Supplier
                                </label>
                            </div>
                            @using (Html.BeginForm("InventoryHistoricalDataSup", "Chart", FormMethod.Post))
                            {
                                <div class="card supp-content" style="padding: 20px; border: 1px solid #d2d6de; display: @supp ;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Supplier</label>
                                                @Html.DropDownListFor(x => x.supplier, new SelectList(Model.SupplierForChartList, "Id", "Name"), new { @class = "form-control", @multiple = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Category</label>
                                                @Html.DropDownListFor(x => x.category, new SelectList(Model.CategoryForChartList, "Id", "Type"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Purchased From Date:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @Html.TextBoxFor(x => x.selectedDateTime, new { @type = "date", @class = "form-control pull-right" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Description</label>
                                                <select name='stationery' id='stationery' class='form-control' disabled>
                                                    <option value="0" selected>Select Item Category First</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trend</label>
                                                <select id="trend" name="trend" class="form-control select2" style="width: 100%;">
                                                    <option></option>
                                                    <option value="1">Volume</option>
                                                    <option value="2">Price</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 15px; margin-bottom: 50px;">Generate</button>
                                        @if (ViewBag.chart != null)
                                        {
                                            <div class="row">
                                                @Html.ActionLink("Export", "ExportAsPDF", null, new { @class = "btn btn-primary pull-right", @style = "margin-right: 15px;" })
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @using (Html.BeginForm("InventoryHistoricalDataDep", "Chart", FormMethod.Post))
                            {
                                <div class="card dept-content" style="padding: 20px; border: 1px solid #d2d6de; display: @dept ;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Department :</label>
                                                @Html.DropDownListFor(x => x.department, new SelectList(Model.DepartmentForChartList, "Id", "DepartmentName"), new { @class = "form-control", @multiple = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Category</label>
                                                @Html.DropDownListFor(x => x.categoryDep, new SelectList(Model.CategoryForChartList, "Id", "Type"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Requested From Date:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @Html.TextBoxFor(x => x.selectedDateTimeDep, new { @type = "date", @class = "form-control pull-right" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Description</label>
                                                <select name='stationeryDep' id='stationeryDep' class='form-control' disabled>
                                                    <option value="0" selected>Select Item Category First</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trend</label>
                                                <select id="trendDep" name="trendDep" class="form-control select2" style="width: 100%;">
                                                    <option></option>
                                                    <option value="1">Volume</option>
                                                    <option value="2">Price</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-success pull-right" style="margin-right: 15px;">Generate</button>
                                        @if (ViewBag.chart != null)
                                        {
                                            <div class="row">
                                                @Html.ActionLink("Export", "ExportAsPDF", null, new { @class = "btn btn-primary pull-right", @style = "margin-right: 15px;" })
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row supp-content" style="display: @supp  ;">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Bar Chart</h3>
                </div>
                <div class="box-body">
                    <div class="chart" style="text-align: center;">
                        @if (ViewBag.chart == "supp")
                        {
                            <img src="/Images/Chart/chart.jpeg" style="width:90%; height:90%;">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row dept-content" style="display: @dept  ;">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Bar Chart</h3>
                </div>
                <div class="box-body">
                    <div class="chart" style="text-align: center;">
                        @if (ViewBag.chart == "dept")
                        {
                            <img src="/Images/Chart/chart.jpeg" style="width:90%; height:90%;">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $("#categoryDep").change(function () {
            var id = $(this)[0].value;
            var url = "/Chart/FilterItem?id=" + id;
            var result = "<select name='stationeryDep' id='stationeryDep' class='form-control'><option value='0' selected>All</option>";
            $.ajax({
                url: url,
                type: "GET",
                async: true,
                success: function (data) {
                    var i;
                    $.each(data, function (i, item) {
                        result += '<option value="' + item.Id + '"';
                        result += '>' + item.Description + '</option>';
                    });
                    result += "</select>";
                    $("#stationeryDep").replaceWith(result);
                },
                error: function (data) { }
            });
        });

        $("#category").change(function () {
            var id = $(this)[0].value;
            var url = "/Chart/FilterItem?id=" + id;
            var result = "<select name='stationery' id='stationery' class='form-control'><option value='0' selected>All</option>";
            $.ajax({
                url: url,
                type: "GET",
                async: true,
                success: function (data) {
                    var i;
                    $.each(data, function (i, item) {
                        result += '<option value="' + item.Id + '"';
                        result += '>' + item.Description + '</option>';
                    });
                    result += "</select>";
                    $("#stationery").replaceWith(result);
                },
                error: function (data) { }
            });
        });

        $('#dept').on('ifChanged', function (event) {
            if (this.checked) {
                $(".dept-content").toggle();
                $(".supp-content").toggle();
            }
        });

        $('#supp').on('ifChanged', function (event) {
            if (this.checked) {
                $(".dept-content").toggle();
                $(".supp-content").toggle();
            }
        });

        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
    </script>
}