@model LUSSIS.Models.DTOs.SupplierChartFilteringDTO
@{
    ViewBag.Title = "InventoryHistoricalData";
}

<section class="content-header">
    <h1>
        Store Inventory Historial Data
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r1" class="minimal" id="dept" checked> Department
                                    </label>
                                    <label style="margin-left: 10px; margin-bottom: 10px;">
                                        <input type="radio" name="r1" class="minimal" id="supp"> Supplier
                                    </label>
                                </div>
                                <div class="card supp-content" style="padding: 20px; border: 1px solid #d2d6de; display: none;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Supplier</label>
                                                @Html.DropDownListFor(x => x.supplier, new SelectList(Model.SupplierForChartList, "Id", "Name"), new { @class = "form-control", @multiple = "true" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
            <div class="form-group">
                <label>Supplier</label><br>


                        @Html.DropDownListFor(x => x.supplier, new SelectList(@Model.SupplierForChartList,"Id", "Name"),new { @class = "form-control" , @multiple="true"})



            </div>
        </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Purchased From Date:</label>

                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @Html.TextBoxFor(x => x.selectedDateTime, new { @type = "date", @class = "form-control pull-right" })
                                                    @*<input type="date" class="form-control pull-right" id="datepicker">*@
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
            <div class="form-group">
                <label>Purchased To Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" class="form-control pull-right" id="datepicker">
                </div>
            </div>
        </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Category</label>
                                                @Html.DropDownListFor(x => x.category, new SelectList(Model.CategoryForChartList, "Id", "Type"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Description</label>
                                                @Html.DropDownListFor(x => x.stationery, new SelectList(Model.StationeryForChartList, "Id", "Description"), new { @class = "form-control" })
                                                @*<select class="form-control select2" style="width: 100%;">

                        <option></option>

                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trend</label>
                                                <select id="trend" name="trend" class="form-control select2" style="width: 100%;">

                                                    <option></option>
                                                    <option value="1">volume</option>
                                                    <option value="2">price</option>
                                                </select>
                                            </div>
                                        </div>

                                        @if (ViewBag.chart != null)
        {
                                        @Html.ActionLink("Download as PDF", "ExportAsPDF", null, new { @class = "btn btn-success pull-right"})
                                        }
                                        <button type="submit" class="btn btn-primary pull-right" style = "margin-right: 15px;">Generate</button>
                                    </div>
                                </div>
                                <!-- /.supp-content -->

                                <div class="card dept-content" style="padding: 20px; border: 1px solid #d2d6de;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Department :</label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option></option>
                                                    <option>English Dept</option>
                                                    <option>Computer Science</option>
                                                    <option>Commerce Dept</option>
                                                    <option>Registrar Dept</option>
                                                    <option>Zoology Dept</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Requested From Date:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="date" class="form-control pull-right" id="datepicker">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Requested To Date:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="date" class="form-control pull-right" id="datepicker">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Category</label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option></option>
                                                    <option>Pen</option>
                                                    <option>Envelope</option>
                                                    <option>Eraser</option>
                                                    <option>File</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Item Description</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trend</label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option></option>
                                                    <option>Price</option>
                                                    <option>Volume</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-success pull-right" style="margin-right: 15px;">Generate</button>
                                    </div>
                                </div>
                                <!-- /.dept-content -->
                                <br>
                                <p>Comments : Charts will be chose by populating by the best soultion.</p>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row supp-content" style="display: none;">
        @*<div class="col-md-6">
                <!-- AREA CHART -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Area Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="areaChart" style="height:250px"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>*@

        <div class="col-md-12">
            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Bar Chart
                    </h3>


                </div>
                <div class="box-body">
                    <div class="chart" style="text-align: center;">
                        @if (ViewBag.chart == "bar")
                        {
                            <img src="/Images/chart.png" width="90%" height="90%">
                        }


                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row dept-content">
        <!-- /.col (LEFT) -->
        @*<div class="col-md-6">
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Donut Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart" style="height:250px"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>*@
        <!-- /.col (RIGHT) -->
        <div class="col-md-12">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Line Chart</h3>


                </div>
                <div class="box-body">
                    <div class="chart" style="text-align: center;">
                        @if (ViewBag.chart == "bar")
                        {
                            <img src="/Images/chart.png" width="90%" height="90%">
                        }

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>

@section scripts {
    <script>
        $('#dept').on('ifChanged', function (event) {
            if (this.checked) {
                $(".dept-content").toggle();
                $(".supp-content").toggle();
            }
        });

        $('#supp').on('ifChanged', function (event) {
            if (this.checked) {
                $(".dept-content").toggle();
                $(".supp-content").toggle();

                //--------------
                //- AREA CHART -
                //--------------

               
            }
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        
    </script>
}