@model LUSSIS.Models.Supplier
@using LUSSIS.Enums;
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Supplier Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td>Supplier Code</td>
                            <td> : @Model.Code</td>
                            <td width="200"></td>
                            <td>GST Registration No</td>
                            <td> : @Model.GST_No</td>
                        </tr>
                        <tr>
                            <td>Supplier Name</td>
                            <td> : @Model.Name</td>
                        </tr>
                        <tr>
                            <td>Contact Name</td>
                            <td> : @Model.ContactName</td>
                        </tr>
                        <tr>
                            <td>Phone No</td>
                            <td> : @Model.PhoneNo</td>
                        </tr>
                        <tr>
                            <td>Fax No</td>
                            <td> : @Model.FaxNo</td>
                        </tr>
                        <tr>
                            <td>Address1</td>
                            <td colspan="4">: @Model.Address1</td>
                        </tr>
                        <tr>
                            <td>Address2</td>
                            <td colspan="4">: @Model.Address2</td>
                        </tr>
                        <tr>
                            <td>Address3</td>
                            <td colspan="4">: @Model.Address3</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    @Html.ActionLink("Update", "Update", new { supplierId = Model.Id }, new { @class = "btn btn-sm btn-warning pull-right", @role = "button" })

                    @if (Model.Active == Convert.ToBoolean(ActiveStatus.INACTIVE))
                    {
                        @Html.ActionLink("Active", "ChangeStatus", new { supplierId = Model.Id }, new { @class = "btn btn-sm btn-success pull-right", @role = "button", @style = "margin-right: 20px;" })
                    }
                    else
                    {
                        @Html.ActionLink("InActive", "ChangeStatus", new { supplierId = Model.Id }, new { @class = "btn btn-sm btn-danger pull-right", @role = "button", @style = "margin-right: 20px;" })
                    }
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

