@model IEnumerable<LUSSIS.Models.Supplier>
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Manage Supplier
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-right" style="position: relative;">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success right", @role = "button" })
                    </div>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <!--VLR001-->
                            <tr>
                                <th>Supplier Code</th>
                                <th>GST Reg No</th>
                                <th>Supplier Name</th>
                                <th>Contact Name</th>
                                <th>Phone No</th>
                                <th>Fax No</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var supplier in Model)
                            {
                                <tr>
                                    <td>@supplier.Code</td>
                                    <td>@supplier.GST_No</td>
                                    <td>@supplier.Name</td>
                                    <td>@supplier.ContactName</td>
                                    <td>@supplier.PhoneNo</td>
                                    <td>@supplier.FaxNo</td>
                                    <td>
                                        @Html.ActionLink("Detail", "Detail", new { supplierId = supplier.Id }, new { @class = "btn btn-sm btn-primary", @role = "button" })
                                        @Html.ActionLink("Update", "Update", new { supplierId = supplier.Id }, new { @class = "btn btn-sm btn-warning", @role = "button" })
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                                            Inactive
                                        </button>
                                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title">Confirmation!</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to InActive this Supplier?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>

                                                        @*@Html.ActionLink("Inactive", "Inactive", new { supplierId = supplier.Id }, new { @class = "btn btn-sm btn-danger", @role = "button" })*@
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- /.modal -->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts {
    <script>
        $(function () {
            $('#table').DataTable({
                'columnDefs': [
                    { 'orderable': false, 'targets': 6 }
                ],
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}

