@model LUSSIS.Models.DTOs.MachineLearningDTO
@using LUSSIS.Models;
@{
    ViewBag.Title = "MachineLearning";
}

<section class="content-header">
    <h1>
        Reorder Info Prediction
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="box-header">
                        <div class="col-md-2 form-group">
                            <label>Choose a date : </label>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.TextBoxFor(x => x.chosenDate, new { @type = "date", @class = "form-control" })
                        </div>
                        <div class="col-md-4 form-group">
                            <input value="Check" type="submit" class="btn btn-primary" />

                        </div>

                    </div>
                    if (ViewBag.data != null)
                    {

                        <div class="box-body">


                            @Html.ActionLink("Keep this as new Reorder Info", "UpdateReorderQuantity", new { @predictDate =Model.chosenDate}, new { @class = "btn btn-success", @role = "button" })
                            @if (ViewBag.Message!=null)
                            {
                                <label class="text-danger">@ViewBag.Message</label>
                            }
                            <table id="table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Stationery Code
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Reorder level and quantity
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Stationery stationery in ViewBag.data)
                                    {
                                        <tr>
                                            <td>
                                                @stationery.Code
                                            </td>
                                            <td>
                                                @stationery.Description
                                            </td>
                                            <td>
                                                @stationery.ReorderQuantity
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    <!-- /.box-body -->
                }
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts {
    <script>
        $(function () {
            $('#table').DataTable({

                'paging': false,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

    </script>
}