@using LUSSIS.Models.DTOs;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logic University</title>
    <link rel="icon" href="../images/logic.jpg" sizes="16x16">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
@{
    int role = 0;
    LoginDTO currentUser = (LoginDTO)Session["existinguser"];
    string dept = currentUser.Department;
    role = currentUser.RoleId;

}
<body class="hold-transition skin-blue sidebar-mini" style="padding: 0 !important; height: auto;">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="../images/logic.jpg" width="25"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="../images/logic.jpg" width="25" style="vertical-align: sub;"><b> Logic</b>University</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- The right side nav bar-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/manager.png" class="user-image" alt="User Image" style="object-fit: cover;">
                                @if (role == (int)LUSSIS.Enums.Roles.DepartmentHead)
                                {
                                    <span class="hidden-xs">Department Head</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.DepartmentStaff)
                                {
                                    <span class="hidden-xs">Staff</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.DepartmentRepresentative)
                                {
                                    <span class="hidden-xs">Department Representative</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.DepartmentCoverHead)
                                {
                                    <span class="hidden-xs">Cover Staff</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.StoreManager)
                                {
                                    <span class="hidden-xs">Store Manager</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                                {
                                    <span class="hidden-xs">Store Supervisor</span>
                                }
                                else if (role == (int)LUSSIS.Enums.Roles.StoreClerk)
                                {
                                    <span class="hidden-xs">Store Clerk</span>
                                }

                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../images/manager.png" class="img-circle" alt="User Image" style="object-fit: cover;">

                                    @if (role == (int)LUSSIS.Enums.Roles.DepartmentHead)
                                    {
                                    <p>
                                        Department Head<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.DepartmentStaff)
                                    {
                                    <p>
                                        Staff<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.DepartmentRepresentative)
                                    {
                                    <p>
                                        Department Representative<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.DepartmentCoverHead)
                                    {
                                    <p>
                                        Cover Staff<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.StoreManager)
                                    {
                                    <p>
                                        Store Manager<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                                    {
                                    <p>
                                        Store Supervisor<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                    else if (role == (int)LUSSIS.Enums.Roles.StoreClerk)
                                    {
                                    <p>
                                        Store Clerk<br />
                                        (Dept - @dept)
                                    </p>
                                    }
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/Login/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../images/manager.png" class="img-circle" alt="User Image" style="object-fit: cover; width: 35px; height: 35px;">
                    </div>
                    <div class="pull-left info">
                        @if (role == (int)LUSSIS.Enums.Roles.DepartmentHead)
                        {
                            <p>Department Head</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.DepartmentStaff)
                        {
                            <p>Staff</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.DepartmentRepresentative)
                        {
                            <p>Department Representative</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.DepartmentCoverHead)
                        {
                            <p>Cover Staff</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.StoreManager)
                        {
                            <p>Store Manager</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                        {
                            <p>Store Supervisor</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }
                        else if (role == (int)LUSSIS.Enums.Roles.StoreClerk)
                        {
                            <p>Store Clerk</p>
                            <p style="font-size: 12px;">Dept- @dept</p>
                        }

                    </div>
                </div>
                <br>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVICATION</li>
                    @if (role == (int)LUSSIS.Enums.Roles.DepartmentStaff || role == (int)LUSSIS.Enums.Roles.DepartmentHead || role == (int)LUSSIS.Enums.Roles.DepartmentRepresentative || role == (int)LUSSIS.Enums.Roles.DepartmentCoverHead)
                    {
                        <li>
                            <a href="/Requisition/ViewCatalogue">
                                <i class="fa fa-book"></i> <span>Catalogue</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Requisition/ViewRequisitionList">
                                <i class="fa fa-list"></i> <span>My Requisition History</span>
                            </a>
                        </li>
                    }
                    @if (role == (int)LUSSIS.Enums.Roles.DepartmentRepresentative)
                    {
                        <li class="header">DEP REP FUNCTION</li>
                        <li>
                            <a href="/Disbursement/Index">
                                <i class="fa fa-shopping-cart"></i> <span>Disbursement List</span>
                            </a>
                        </li>
                    }

                    @if (role == (int)LUSSIS.Enums.Roles.DepartmentHead || role == (int)LUSSIS.Enums.Roles.DepartmentCoverHead)
                    {
                        <li class="header">ADMINISTRATION</li>
                        <li>
                            <a href="/DeptHead/ViewDepartmentRequisitions">
                                <i class="fa fa-list"></i> <span>Requested Requisition</span>
                            </a>
                        </li>
                        <li>
                            <a href="/CollectionPoint/AssignCollectionPoint">
                                <i class="fa fa-building"></i> <span>Collection Point</span>
                            </a>
                        </li>
                        <li>
                            <a href="/AssignStaff/AssignDeptRep">
                                <i class="fa fa-user"></i> <span>Assign Dept Representative</span>
                            </a>
                        </li>
                    }
                    @if (role == (int)LUSSIS.Enums.Roles.DepartmentHead)
                    {
                        <li>
                            <a href="/AssignStaff/AssignCoverStaff">
                                <i class="fa fa-user"></i> <span>Assign Cover Staff</span>
                            </a>
                        </li>
                    }
                    @if (role == (int)LUSSIS.Enums.Roles.StoreManager)
                    {
                        <li>
                            <a href="/Stationery/Index">
                                <i class="fa fa-book"></i> <span>Manage Catalogue</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Supplier/Index">
                                <i class="fa fa-gavel"></i> <span>Manage Supplier</span>
                            </a>
                        </li>
                    }
                    @if (role == (int)LUSSIS.Enums.Roles.StoreManager || role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                    {
                        <li>
                            <a href="/AdjustmentVoucher/Index">
                                <i class="fa fa-clone"></i> <span>Adjustment Voucher</span>
                            </a>
                        </li>
                        <li>
                            <a href="/PurchaseOrder/Index">
                                <i class="fa fa-shopping-cart"></i> <span>Purchase Order</span>
                            </a>
                        </li>
                        <li>
                            <a href="/CollectionPoint/AssignClerk">
                                <i class="fa fa-user"></i> <span>Assign Clerk</span>
                            </a>
                        </li>
                        <li class="header">ANALYSIS</li>
                        <li>
                            <a href="/Chart/InventoryHistoricalData">
                                <i class="fa fa-line-chart"></i> <span>Store Inventory Historial Data</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Chart/PurchaseOrderTrend">
                                <i class="fa fa-line-chart"></i> <span>Purchase Order Trend</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Chart/StationeryRequisitionTrend">
                                <i class="fa fa-bar-chart"></i> <span>Stationery Requisition Trend</span>
                            </a>
                        </li>
                    }
                    @if (role == (int)LUSSIS.Enums.Roles.StoreClerk)
                    {
                        <li>
                            <a href="/Retrieval/ViewRetrieval">
                                <i class="fa fa-building"></i> <span>Retrieval List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Disbursement/Index">
                                <i class="fa fa-building"></i> <span>Disbursement List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ClerkRequisitions/ViewOwedItems">
                                <i class="fa fa-font-awesome"></i> <span>Owed Items</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Inventory/ViewInventoryList">
                                <i class="fa fa-book"></i> <span>View Inventory Items</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ClerkRequisitions/ViewSchoolRequisitions">
                                <i class="fa fa-list"></i> <span>View Requisitions</span>
                            </a>
                        </li>
                        <li>
                            <a href="/PurchaseOrder/Index">
                                <i class="fa fa-shopping-cart"></i> <span>Purchase Order</span>
                            </a>
                        </li>
                        <li>
                            <a href="/AdjustmentVoucher/Index">
                                <i class="fa fa-clone"></i> <span>My Adjustment Vouchers</span>
                            </a>
                        </li>
                    }
                    <li class="header">OTHERS</li>
                    <li>
                        <a href="/Login/Logout">
                            <i class="fa fa-sign-out"></i> <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 610px;">
            @RenderBody()
        </div>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")
    @RenderSection("scripts", required: false)
</body>
</html>