@model LUSSIS.Models.DTOs.FormLoginDTO
@using LUSSIS.Models.DTOs;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logic University</title>
    <link rel="icon" href="../images/logic.jpg" sizes="16x16">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><img src="../images/logic.jpg" width="35" style="margin-right: 20px;"><b>Logic </b>University</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your work</p>
            @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="form-group has-feedback">
                    <i class="text-yellow glyphicon glyphicon-alert form-control"> @ViewBag.ErrorMessage</i>
                </div>
            }
            @using (Html.BeginForm("VerifyUser", "Login", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" value="Log In" class="btn btn-primary btn-block btn-flat" style="margin-top: 20px;" />
                    </div>
                </div>
            }
            <br />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")
</body>
</html>