@model LUSSIS.Models.DTOs.VMOwedItemsDTO
@{
    ViewBag.Title = "ViewOwedItems";
}

<section class="content-header">
    <h1>
        Owed Items
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <br /><br />
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dep in Model.DeptOwedItems)
                            {
                                if (dep.OwedItems.Count > 0)
                                {
                                    <tr>
                                        <td style="width: 20px;">
                                            <button onclick="toggle(@dep.Department.Id)" class="btn btn-primary text-left" type="button" style="width: 500px" data-toggle="collapse" data-target="#collapseExample@{ @dep.Department.Id}" aria-expanded="false" aria-controls="collapseExample">
                                                @dep.Department.DepartmentName <i id="@dep.Department.Id" class="fa fa-chevron-down"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="padding: 0;">
                                            <div class="collapse" id="collapseExample@{ @dep.Department.Id}">
                                                <table id="example2" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Item Number</th>
                                                            <th>Category</th>
                                                            <th>Description</th>
                                                            <th>Qty Owed</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var stationery in dep.OwedItems)
                                                        {
                                                            <tr>
                                                                <td>@stationery.Stationery.Code</td>
                                                                <td>@stationery.Stationery.Category.Type</td>
                                                                <td>@stationery.Stationery.Description</td>
                                                                <td>@stationery.QtyOwed</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        function toggle(id) {
            $("#" + id).toggleClass("fa fa-chevron-down fa fa-chevron-up");
        };
    </script>
}