@model LUSSIS.Models.DTOs.AdjustmentVoucherDTO
@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        New Adjustment Voucher
    </h1>
</section>

<!-- Main content -->
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        @if (Model.Error != null && Model.Error.HasError == true && !String.IsNullOrEmpty(Model.Error.Message))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-danger">
                                            @Model.Error.Message
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Item Number </label>
                                    <select id="StationaryId" class="form-control" name="StationeryId">
                                        @if (Model.Stationeries != null)
                                        {
                                            foreach (var item in Model.Stationeries)
                                            {
                                                if (item.Id == @Model.StationeryId)
                                                {
                                                    <option value="@item.Id" selected>
                                                        @item.Description
                                                    </option>

                                                }
                                                else
                                                {
                                                    <option value="@item.Id">
                                                        @item.Description
                                                    </option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="width: 100%;">Adjusted Qty </label>
                                    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @placeholder = "Enter Adjusted Qty" })
                                    @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reason</label>
                                    @Html.TextAreaFor(x => x.Reason, new { @class = "form-control", cols = 200, @rows = 3 })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-tools">
                                    <button class="btn btn-success pull-right" style="margin-top: 70px;">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.adjustmentVoucher != null)
                {
                    <div class="box">
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Item Number</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Unit of Measure</th>
                                        <th>Adjusted Qty</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.adjustmentVoucher.AdjustmentVoucherDetails)
                                    {
                                        <tr>
                                            <td>@item.StationeryId</td>
                                            <td>@item.Stationery.Category.Type</td>
                                            <td>@item.Stationery.Description</td>
                                            <td>@item.Stationery.UnitOfMeasure</td>
                                            <td>@item.Quantity</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button class="btn btn-success pull-right">Submit</button>
                        </div>
                    </div>
                }
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    }
</section>

@section scripts {
    <script>
        function updateQtyReceive(e, adjd, adj) {
            debugger;
            if (e.value != "") {

                //alert(e.value);
                var url = "/AdjustmentVoucher/UpdateReceivedQty?adjdId=" + adjd + "&qty=" + e.value + "&adjId=" + adj;
                $.ajax({
                    url: url,
                    type: "GET",
                    async: true,
                    success: function (data) {
                        //if (data[0] == true) {
                        //    window.location.href = '/PurchaseOrder/Index'
                        //}
                        //else {
                        //    document.getElementById("errRemark").innerHTML = data[1];
                        //}
                    },
                    error: function (data) { }
                });
            }
        }
    </script>
}