@model List<LUSSIS.Models.DTOs.AdjustmentVoucherDTO>
@using LUSSIS.Enums;
@{
    ViewBag.Title = "Index";
    int role = 0;
    if (Session["role"] != null)
    {
        role = (int)Session["role"];
    }
}

<section class="content-header">
    <h1>
        Adjustment Vouchers
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @if (role == (int)LUSSIS.Enums.Roles.StoreClerk)
                {
                    <div class="box-header">
                        <div class="box-tools pull-right" style="position: relative;">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success right", @role = "button" })
                        </div>
                    </div>
                }
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Voucher ID</th>
                                <th>Voucher Date</th>
                                <th>Total Amount</th>
                                @if (role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                                {
                                    <th>Clerk Name</th>
                                }
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.adjustmentVoucher.Id</td>
                                    <td>@item.adjustmentVoucher.Date.ToString("yyyy-MM-dd")</td>
                                    <td>$ @item.TotalAmount</td>
                                    @if (role == (int)LUSSIS.Enums.Roles.StoreSupervisor)
                                    {
                                        <td>@item.adjustmentVoucher.Employee.Name</td>
                                    }
                                    @if (item.adjustmentVoucher.Status == Enum.GetName(typeof(AdjustmentVoucherStatus), AdjustmentVoucherStatus.Open))
                                    {
                                        <td class="text-blue">@item.adjustmentVoucher.Status</td>
                                    }
                                    else if (item.adjustmentVoucher.Status == Enum.GetName(typeof(AdjustmentVoucherStatus), AdjustmentVoucherStatus.Submitted))
                                    {
                                        <td class="text-green">@item.adjustmentVoucher.Status</td>
                                    }
                                    else
                                    {
                                        <td>@item.adjustmentVoucher.Status</td>
                                    }
                                    <td>
                                        @Html.ActionLink("Detail", "Detail", new { adjId = item.adjustmentVoucher.Id }, new { @class = "btn btn-sm btn-primary", @role = "button" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(function () {
            $('#table').DataTable({
                "order": [[0, "desc"]],
                'columnDefs': [
                    { 'orderable': false, 'targets': 4 }
                ],
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}