@model List<LUSSIS.Models.DTOs.AdjustmentVoucherDTO>
@{
    ViewBag.Title = "Index";
}

<section class="content-header">

    <!-- If Clerk -->
    <!-- <h1>My Adjustment Vouchers</h1> -->

    <h1>
        Adjustment Vouchers
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- If Clerk -->
                @if(role == 7)
                {
                    <div class="box-header">
                        <div class="box-tools pull-right" style="position: relative;">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success right", @role = "button" })
                        </div>
                    </div>
                }
                <!-- If Clerk -->

                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Voucher ID</th>
                                <th>Voucher Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.adjustmentVoucher.Id</td>
                                @{ string adjDate = "";
                                        if (item.adjustmentVoucher.Date != null)
                                        {
                                            adjDate = ((DateTime)item.adjustmentVoucher.Date).ToString("dd/MM/yyyy");
                                        }

                                }
                                <td>@adjDate</td>
                                <td>$ @item.TotalAmount</td>
                                <td>@item.adjustmentVoucher.Status</td>
                                <td>
                                    @Html.ActionLink("Detail", "Detail", new { adjId = item.adjustmentVoucher.Id }, new { @class = "btn btn-sm btn-primary", @role = "button" })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts {
    <script>
        $(function () {
            $('#table').DataTable({
                'columnDefs': [
                    { 'orderable': false, 'targets': 4 }
                ],
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}