@model LUSSIS.Models.Stationery
@using LUSSIS.Models.DTOs;
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Stationery Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table>
                        <tr>
                            <td style="width: 250px;">Stationery Code</td>
                            <td>: @Html.DisplayFor(m => m.Code)</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>: @Html.DisplayFor(m => m.Category.Type)</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>: @Html.DisplayFor(m => m.Description)</td>
                        </tr>
                        <tr>
                            <td>Recomm Reorder Level</td>
                            <td>: @Html.DisplayFor(m => m.ReorderLevel)</td>
                        </tr>
                        <tr>
                            <td>Reorder Quantity</td>
                            <td>: @Html.DisplayFor(m => m.ReorderQuantity)</td>
                        </tr>
                        <tr>
                            <td>Unit of Measurement</td>
                            <td>: @Html.DisplayFor(m => m.UnitOfMeasure)</td>
                        </tr>
                    </table>
                    <br />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Supplier Order</th>
                                <th>Supplier Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var supplierTender in Model.SupplierTenders)
                            {
                                <tr>
                                    <td>Supplier @supplierTender.Rank</td>
                                    <td>@supplierTender.Supplier.Name</td>
                                    <td>@supplierTender.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer ">
                    @Html.ActionLink("Update", "Update", new { stationeryId = Model.Id }, new { @class = "btn btn-sm btn-warning pull-right", @role = "button" })
                    @if (Model.Status == Enum.GetName(typeof(EnumDTO.ActiveStatus), EnumDTO.ActiveStatus.INACTIVE))
                    {
                        @Html.ActionLink("Make Active", "ChangeStatus", new { stationeryId = Model.Id }, new { @class = "btn btn-sm btn-danger", @role = "button" })
                    }
                    else
                    {
                        @Html.ActionLink("Make Inactive", "ChangeStatus", new { stationeryId = Model.Id }, new { @class = "btn btn-sm btn-danger", @role = "button" })
                    }
                    @*@Html.ActionLink("Change Status", "ChangeStatus", new { stationeryId = Model.Id }, new { @class = "btn btn-sm btn-danger pull-right", @role = "button" })*@
                    @*<button class="btn btn-warning pull-right">Update</button>
                        <button class="btn btn-danger pull-right" style="margin-left: 20px;">Change Status</button>*@

                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>