@model IEnumerable<LUSSIS.Models.Stationery>
@using LUSSIS.Models.DTOs;
@{
    ViewBag.Title = "Stationeries";
}

<section class="content-header">
    <h1>
        Manage Catalogue
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-right" style="position: relative;">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success right", @role = "button" })
                    </div>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Stationery Code
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>Unit of Measue</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stationery in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => stationery.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => stationery.Category.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => stationery.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => stationery.UnitOfMeasure)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=> stationery.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Detail", "Detail", new { stationeryId = stationery.Id }, new { @class = "btn btn-sm btn-primary", @role = "button" })
                                    @Html.ActionLink("Update", "Update", new { stationeryId = stationery.Id }, new { @class = "btn btn-sm btn-warning", @role = "button" })
                                    @if (stationery.Status == Enum.GetName(typeof(EnumDTO.ActiveStatus), EnumDTO.ActiveStatus.INACTIVE))
                                    {
                                        @Html.ActionLink("Make Active", "ChangeStatus", new { stationeryId = stationery.Id }, new { @class = "btn btn-sm btn-danger", @role = "button" })
                                    }
                                    else
                                    {
                                        @*<a onclick="changeStatus(@stationery.Id)" class="btn btn-sm btn-danger">
                                            Make Inactive
                                        </a>
                                        @Html.ActionLink("Make Inactive", null, new { @onclick = "changeStatus("+stationery.Id+")", @class = "btn btn-sm btn-danger", @role = "button" })*@
                                        @Html.ActionLink("Make Inactive", "ChangeStatus", new { stationeryId = stationery.Id }, new { @class = "btn btn-sm btn-danger", @role = "button" })
                                    }


                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts {
    <script>
        $(function () {
            $('#table').DataTable({
                'columnDefs': [
                    { 'orderable': false, 'targets': 4 }
                ],
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        //function changeStatus(id) {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Stationery/ChangeStatus",
        //        content: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: JSON.stringify(id),
        //        success: function (d) {
        //            if (d.success == true)
        //                window.location = "index.html";
        //            else { }
        //        },
        //        error: function (xhr, textStatus, errorThrown) {
        //            // TODO: Show error
        //        }
        //    });
        //}
    </script>
}