@model LUSSIS.Models.DTOs.DisbursementDTO
@using LUSSIS.Models.DTOs;
@{
    ViewBag.Title = "Detail";
    var ClerkItemDetails = Model.DisbursementDetailsDTOList.GroupBy(g => new { g.DisbursementId, g.StationeryId, g.ItemCode, g.Category, g.ItemName, g.UnitOfMeasure }).Select(
        s => new
        {
            s.Key.DisbursementId,
            s.Key.StationeryId,
            s.Key.ItemCode,
            s.Key.Category,
            s.Key.ItemName,
            s.Key.UnitOfMeasure,
            SumOrderQty = s.Sum(x => x.QuantityOrdered),
            SumDeliverQty = s.Sum(
            x => x.QuantityDelivered),
            SumOutstandingQty = s.Sum(x => x.QuantityOrdered - x.QuantityDelivered)
        });
}

<section class="content-header">
    <h1>
        Disbursement Details
    </h1>
</section>
@{LoginDTO loginDto = (LoginDTO)Session["existinguser"];}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (loginDto.EmployeeId == Model.DeliveredEmployeeId)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    @foreach (var dl in Model.DisbursementDetailsDTOList.GroupBy(x => x.DisbursementId).Select(s => s.First()))
                                    {
                                        <tr>
                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Disbursement ID</td>
                                                <td>:@dl.DisbursementId</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Date</td>
                                                <td>:@dl.DeliveryDateTime.ToString("yyyy-MM-dd")</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Point</td>
                                                <td>:@dl.CollectionPoint</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Status</td>
                                                <td>: <span class="text-blue">@dl.Status</span></td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>


                            <div class="col-md-6">
                                <table>
                                    @foreach (var dl in Model.DisbursementDetailsDTOList.GroupBy(x => x.DisbursementId).Select(s => s.First()))
                                    {
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Dept Name</td>
                                                <td>:@dl.DepartmentName</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Dept Code</td>
                                                <td>:@dl.DepartmentCode</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Dept Representative</td>
                                                <td>:@dl.EmployeeName</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Contact No.</td>
                                                <td>:@dl.DepartmentContactNumber</td>
                                            }
                                        </tr>
                                        <tr>
                                            @if (dl.DisbursementId == Model.DisbursementId && dl.Status == "PENDING_COLLECTION")
                                            {
                                                <td>
                                                    @using (Html.BeginForm("Detail"))
                                                    {


                                                        <input type="button" class="btn btn-sm btn-primary" value="Send E-mail"
                                                               onclick="location.href='@Url.Action("Detail", "Disbursement", new {  @DisbursementId = dl.DisbursementId, @DisbursementStatus = dl.Status })'" data-form-method="post" />
                                                    }

                                                </td>
                                            }
                                            else if (dl.DisbursementId == Model.DisbursementId && dl.Status != "PENDING_COLLECTION")
                                            {
                                                <td>
                                                    <input type="button" disabled class="btn btn-sm btn-danger" value="E-mailed" />
                                                </td>

                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <br /><br />
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Item Number</th>
                                    <th>Category</th>
                                    <th>Item Name</th>
                                    <th>Unit of Measure</th>
                                    <th>Disbursed Qty</th>
                                    <th>Outstanding Qty</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var dl in ClerkItemDetails)
                                {
                                    if (dl.DisbursementId == Model.DisbursementId)
                                    {
                                        <tr>
                                            <td>@dl.ItemCode</td>
                                            <td>@dl.Category</td>
                                            <td>@dl.ItemName</td>
                                            <td>@dl.UnitOfMeasure</td>
                                            <td>@dl.SumDeliverQty</td>
                                            <td>@dl.SumOutstandingQty</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else if (loginDto.EmployeeId == Model.ReceivedEmployeeId)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    @foreach (var dl in Model.DisbursementDetailsDTOList.GroupBy(x => x.DisbursementId).Select(s => s.First()))
                                    {
                                        <tr>
                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Disbursement ID</td>
                                                <td>:@dl.DisbursementId</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Date</td>
                                                <td>:@dl.DeliveryDateTime.ToString("yyyy-MM-dd")</td>
                                            }
                                        </tr>
                                        <tr>

                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Point</td>
                                                <td>:@dl.CollectionPoint</td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table>
                                    @foreach (var dl in Model.DisbursementDetailsDTOList.GroupBy(x => x.DisbursementId).Select(s => s.First()))
                                    {
                                        <tr>
                                            @if (dl.DisbursementId == Model.DisbursementId)
                                            {
                                                <td>Collection Status</td>
                                                <td>: <span class="text-blue">@dl.Status</span></td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <br /><br />
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th>Item Name</th>
                                    <th>Unit of Measure</th>
                                    <th>Requested Qty</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var dl in ClerkItemDetails)
                                {

                                    if (dl.DisbursementId == Model.DisbursementId)
                                    {
                                        <tr>
                                            <td>@dl.ItemName</td>
                                            <td>@dl.UnitOfMeasure</td>
                                            <td>@dl.SumOrderQty</td>
                                            <td style="width: 20px;">
                                                <button onclick="toggle(@dl.StationeryId)" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample@{@dl.StationeryId}" aria-expanded="false" aria-controls="collapseExample">
                                                    View Detail <i id="@dl.StationeryId" class="fa fa-chevron-up"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="collapse" id="collapseExample@{@dl.StationeryId}">
                                            <td colspan="4" style="padding: 0;">
                                                <table id="example2" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Requisition Form</th>
                                                            <th>Requested Date</th>
                                                            <th>Employee Name</th>
                                                            <th>Disbursed Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var dlpi in Model.DisbursementDetailsDTOList)
                                                        {
                                                            if (dlpi.ItemCode == dl.ItemCode && dlpi.DisbursementId == dl.DisbursementId)
                                                            {
                                                                <tr>
                                                                    <td>@dlpi.RequisitionID</td>
                                                                    <td>@dlpi.RequisitionDateTime</td>
                                                                    <td>@dlpi.EmployeeName</td>
                                                                    <td>@dlpi.QuantityDelivered</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script>
    function toggle(id) {
        //alert(id);
        $("#" + id).toggleClass("fa fa-chevron-down fa fa-chevron-up");
    };</script>