@model LUSSIS.Models.DTOs.AssignDeptRepDTO
@{
    ViewBag.Title = "AssignDeptRep";
}

<section class="content-header">
    <h1>
        Assign Department Representative
    </h1>
</section>

<section class="content">
    @using (Html.BeginForm("AssignDeptRep", "AssignStaff", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <p>Current Department Representative - <b class="text-green">@Model.DeptRep.Name</b></p>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Assign To</label>
                                    <select id="NewDeptRepId" class="form-control" name="NewDeptRepId">
                                        @foreach (var employee in Model.StaffAndDeptRep)
                                        {
                                            if (employee.Id == @Model.DeptRep.Id)
                                            {
                                                <option value="@employee.Id" selected> @employee.Name (@employee.Title)</option>
                                            }
                                            else
                                            {
                                                <option value="@employee.Id"> @employee.Name (@employee.Title) </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <br />
                            <input type="submit" value="Assign" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>